<a href="https://colab.research.google.com/github/Deeakpant9759/Pw_Assignment/blob/master/Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1**: What are data structures, and why are they important?

**Answer 1**:Data structures are the way to orginize and store data . data structures helps us to maintain the data in a well structure way.
examples:
Array , list,dictinoaries,tuple and lot more

**Question 2**: Explain the difference between mutable and immutable data types with examples

**Answer 2**: mutable are those data types where can add , remove or update the data after been constructed but in immutable once there are create they can't be helped with add,remove or update

example: mutable : lists,dictionaries , immutable :tuples,string

**Question 3**: What are the main differences between lists and tuples in Python?

**Answer 3**: the main differance between lists is mutablity and imutability once tuples are create they can't be updated , appended or removed item form them meanwhile list can be updated, appended and removed list are made up of dyanamic storage while typle are staic. performance wise tuple are faster then list. we can use tuple for fixed data like account number of bank once created can't be changes and password can be lists so we can change. just for example.

**Question 4**: Describe how dictionaries store data

**Answer 4**: dectionaries store the data in formet of key and pair. every unique key will have its values and key can't be more then one but the values insde the key can be more then one in another key. if we try to add a key already in the data so it will overwrite the old key. we can say key mush be hashable means immutable.
example: 
data = {Deepak:13}
here  deepak is key and 13 is its value

**Question 5**: Why might you use a set instead of a list in Python?

**Answer 5**: when we need unique values in our data set menas values can't repate so i will use set instead of lists and set are fast in searching compare to list i will get better time complixty in using set instead of lists . we can also perform mathmatical set opreation like join , interseciton and union on set so they are help full there.

**Question 6**: What is a string in Python, and how is it different from a list?

**Answer 6**:string are the sequence of chars in python .They are used to store the text data only, and if u want to put a word to stirng u have spacify the dubble quote and then enter the word inside the dubble or single quote example "DEEPAK" the is an string the different between str and lists are string can story only text data but list can store any data type , string are mutable but lists are immutable , used enclosed quotes('') and list used square bractes ([]) .

**Question 7**: How do tuples ensure data integrity in Python?

**Answer 7**: Tuples helps data integrity because its immutable nature becuase once they are created so they can't be changes so that help the data with security to aovid unwanted modification. menas when it shows to user it is always in read only mode any one can't write to them so that't so why tere are help full in data itergrity 
example: bank account number , data base ID , cordinates , keys and lot more.

**Question 8**: What is a hash table, and how does it relate to dictionaries in Python?

**Answer 8**:A hash table stores data in key–value pairs, allowing us to access values very quickly using their keys.Python dictionaries (dict) work the same way: each key–value pair in a dictionary is stored internally as part of a hash table, so Python can locate a value fast using its key.

**Question 9**: Can lists contain different data types in Python?

**Answer 9**:yes lists can contain various data type.
example : [1,'deepak',True]

**Question 10**: Explain why strings are immutable in Python

**Answer 10**: main reason is safety because in dict string are used as key so if they are mutable they can break the flow that , speed immutablity makes python faster so they can work fast the so why strings are immutable

**Question 11**: What advantages do dictionaries offer over lists for certain tasks?

**Answer 11**: Advantage of dictonaries are they store the data in key values pair so make data more strucutre and easy to look and way more faster to process the data and can used to delete , update using by key. that's the reason dict are better then list in key value pair tasks

**Question 12**: Describe a scenario where using a tuple would be preferable over a list
 
**Answer 12**: example like stroing the cordinate of certain space like (x,y) if we use list they can be modified easy and like using tuple in key to dict they can helful there like exmple 
data = {  (40.7128, -74.0060): "New York",
    (34.0522, -118.2437): "Los Angeles",
    (51.5074, -0.1278): "London"}

**Question 13**: How do sets handle duplicate values in Python?

**Answer 13**:sets removes the duplicates form the data and remain the single unique value in the data exaple data = {1,2,3,1,2,3} we gave it but set will convert it like data = {1,2,3}

**Question 14**: How does the “in” keyword work differently for lists and dictionaries?

**Answer 14**:for lists, x in list checks each element one by one (o(n)). for dictionaries, x in dict checks keys using hashing (o(1) average). dictionary lookups are fast because keys are hashable; list lookups are slower because they require scanning each element.

**Question 15**: Can you modify the elements of a tuple? Explain why or why not

**Answer 15**: no we can't modify the elemnts of tuple because they are immutable so they can't be modifyed . to make data fixed and safe that's so why not it should be modifed

**Question 16**: What is a nested dictionary, and give an example of its use case?

**Answer 16**: Nested dictionary that contins another dictionary inside it and its value, its is use full for making data structured and hierachical. example :
data = {

    P001:{
        'name' : "deepak"
        'class':"1st"
    }
}

**Question 17**: Describe the time complexity of accessing elements in a dictionary

**Answer 17**: O(1) menas it will take constant time . beacuse the hash nature of dictionary which helps to locate the values directly

**Question 18**: In what situations are lists preferred over dictionaries?

**Answer 18**: when we want't store the data in  any order , need frequncy , repated values.
example score = [1,2,34,5,6,7]

**Question 19**: Why are dictionaries considered unordered, and how does that affect data retrieval?

**Answer 19**:becuase the order of key values is not guenteed in dictionaries as like in list we can access the element using the index the rerieval of data is affect becuase we can access the data only by using the key not the index and it use hash so the memory location is differ then we gave.

**Question 20**: Explain the difference between a list and a dictionary in terms of data retrieval.

**Answer 20**:dictionary used key to access the values and list uses index , we can access values by slicing in list but not in dict so multipal vlaues can be rerived using list but in dict one key one data type value.

**Question 11**: Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
data = (100,200,300)
print(data)

(100, 200, 300)

**Question 12**: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
data = ('red', 'green', 'blue', 'yellow')
print(data[-2])

'blue'

**Question 13**: Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
data = (10,20,5,15)
print(min(data))

5

**Question 14**: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
data = ('dog','cat','rabbit')
print(data.index('cat'))

1

**Question 15**: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
data = ('kiwi','apple','banana')
print('kiwi' in data)

True

**Question 16**: Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [14]:
data = set({'a','b','c'})
print(data)

{'c', 'b', 'a'}

**Question 17**: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [15]:
data = set({1,2,3,4,5})
print(data)
data.clear()
print(data)

{1, 2, 3, 4, 5}
set()

**Question 18**: Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [17]:
data = set({1,2,3,4})
data.remove(4)
print(data)

{1, 2, 3}

**Question 19**: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
set1= {1,2,3}
set2 = {3,4,5}
print(set.union(set1,set2))

{1, 2, 3, 4, 5}

**Question 20**: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [22]:
print(set.intersection(set1,set2))

{3}

**Question 21**: Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [24]:
data = {
    'name':'Deepak',
    'age':21,
    'city':'Noida'
}
print(data)

{'name': 'Deepak', 'age': 21, 'city': 'Noida'}

**Question 22**: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [25]:
data = {'name': 'John', 'age': 25}
data['country'] = 'USA'
print(data)

{'name': 'John', 'age': 25, 'country': 'USA'}

**Question 23**: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [27]:
data={'name': 'Alice', 'age': 30}
print(data['name'])

Alice

**Question 24**: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [30]:
data = {'name': 'Bob', 'age': 22, 'city': 'New York'}
data.pop('age')
print(data)

{'name': 'Bob', 'city': 'New York'}

**Question 25**: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
data = {'name': 'Alice', 'city': 'Paris'}
print('city' in data)

True
Paris

**Question 26**: Write a code to create a list, a tuple, and a dictionary, and print them all.

In [33]:
data1 = [1,2,4]
data2 = (1,23,4)
data3 = {'key':'pair'}
print(f"list : {data1} \n tuple:{data2} \n dict: {data3}")

list : [1, 2, 4]
 tuple:(1, 23, 4)
 dict: {'key': 'pair'}

**Question 27**: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [35]:
from random import randint as rn
data = [ rn(1,100) for _ in range(1,6) ]
data.sort()
print(data)

[17, 22, 28, 60, 87]

**Question 28**: Write a code to create a list with strings and print the element at the third index.

In [39]:
data = ['a','b','c','d']
print(data[3]) # index 3rd
print(data[2])#element at 3 number

d
c

**Question 29**: Write a code to combine two dictionaries into one and print the result.

In [45]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

print({**dict1,**dict2})
data = dict1.copy()
data.update(dict2)
print(data)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**Question 30**: Write a code to convert a list of strings into a set.

In [47]:
data = [1,1,1,23,4,42241241,4,35,5,0]
set_data = set(data)
print(set_data)

{0, 1, 35, 4, 5, 23, 42241241}

**Question 1**: Write a code to create a string with your name and print it.

In [48]:
name = "Deepak"
print(name)

Deepak

**Question 2**: Write a code to find the length of the string "Hello World".

In [49]:
print(len("Hello World"))

11

**Question 3**: Write a code to slice the first 3 characters from the string "Python Programming".

In [50]:
data = "Python Programming"
data[:3]

'Pyt'

**Question 4**: Write a code to convert the string "hello" to uppercase.

In [54]:
data = "hello"
data = data.upper()
print(data)

HELLO

**Question 5**: Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [57]:
data = "I like apple"
data=data.replace("apple","orange")
print(data)

I like orange

**Question 6**: Write a code to create a list with numbers 1 to 5 and print it.

In [58]:
data = [x for x in range(1,6)]
print(data)

[1, 2, 3, 4, 5]

**Question 7**: Write a code to append the number 10 to the list [1, 2, 3, 4].

In [59]:
data = [x for x in range(1,5)]
data.append(10)
print(data)

[1, 2, 3, 4, 10]

**Question 8**: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [62]:
data = [x for x in range(1,6)]
data.remove(3)
print(data)

[1, 2, 4, 5]

**Question 9**: Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [64]:
data=['a', 'b', 'c', 'd']
print(data[1])

b

**Question 10**: Write a code to reverse the list [10, 20, 30, 40, 50].

In [67]:
data = [x for x in range(10,60,10)]
print(data[::-1])

[50, 40, 30, 20, 10]