<a href="https://colab.research.google.com/github/Deeakpant9759/Pw_Assignment/blob/master/Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1**: What are data structures, and why are they important?

**Answer 1**:

**Question 2**: Explain the difference between mutable and immutable data types with examples

**Answer 2**:

**Question 3**: What are the main differences between lists and tuples in Python?

**Answer 3**:

**Question 4**: Describe how dictionaries store data

**Answer 4**:

**Question 5**: Why might you use a set instead of a list in Python?

**Answer 5**:

**Question 6**: What is a string in Python, and how is it different from a list?

**Answer 6**:

**Question 7**: How do tuples ensure data integrity in Python?

**Answer 7**:

**Question 8**: What is a hash table, and how does it relate to dictionaries in Python?

**Answer 8**:

**Question 9**: Can lists contain different data types in Python?

**Answer 9**:

**Question 10**: Explain why strings are immutable in Python

**Answer 10**:

**Question 11**: What advantages do dictionaries offer over lists for certain tasks?

**Answer 11**:

**Question 12**: Describe a scenario where using a tuple would be preferable over a list

**Answer 12**:

**Question 13**: How do sets handle duplicate values in Python?

**Answer 13**:

**Question 14**: How does the “in” keyword work differently for lists and dictionaries?

**Answer 14**:

**Question 15**: Can you modify the elements of a tuple? Explain why or why not

**Answer 15**:

**Question 16**: What is a nested dictionary, and give an example of its use case?

**Answer 16**:

**Question 17**: Describe the time complexity of accessing elements in a dictionary

**Answer 17**:

**Question 18**: In what situations are lists preferred over dictionaries?

**Answer 18**:

**Question 19**: Why are dictionaries considered unordered, and how does that affect data retrieval?

**Answer 19**:

**Question 20**: Explain the difference between a list and a dictionary in terms of data retrieval.

**Answer 20**:

**Question 11**: Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [5]:
print("hello world")

hello world

**Question 12**: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [6]:
print("hello world")

hello world

**Question 13**: Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [7]:
print("hello world")

hello world

**Question 14**: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [8]:
print("hello world")

hello world

**Question 15**: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [9]:
print("hello world")

hello world

**Question 16**: Write a code to create a set with the elements 'a', 'b', 'c' and print it.

**Question 17**: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [10]:
print("hello world")

hello world

**Question 18**: Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [11]:
print("hello world")

hello world

**Question 19**: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [12]:
print("hello world")

hello world

**Question 20**: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [13]:
print("hello world")

hello world

**Question 21**: Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [14]:
print("hello world")

hello world

**Question 22**: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [15]:
print("hello world")

hello world

**Question 23**: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [16]:
print("hello world")

hello world

**Question 24**: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [17]:
print("hello world")

hello world

**Question 25**: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [18]:
print("hello world")

hello world

**Question 26**: Write a code to create a list, a tuple, and a dictionary, and print them all.

In [19]:
print("hello world")

hello world

**Question 27**: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [20]:
print("hello world")

hello world

**Question 28**: Write a code to create a list with strings and print the element at the third index.

In [21]:
print("hello world")

hello world

**Question 29**: Write a code to combine two dictionaries into one and print the result.

In [22]:
print("hello world")

hello world

**Question 30**: Write a code to convert a list of strings into a set.

In [23]:
print("hello world")

hello world

**Question 1**: Write a code to create a string with your name and print it.

In [24]:
print("hello world")

hello world

**Question 2**: Write a code to find the length of the string "Hello World".

In [25]:
print("hello world")

hello world

**Question 3**: Write a code to slice the first 3 characters from the string "Python Programming".

In [26]:
print("hello world")

hello world

**Question 4**: Write a code to convert the string "hello" to uppercase.

In [27]:
print("hello world")

hello world

**Question 5**: Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [28]:
print("hello world")

hello world

**Question 6**: Write a code to create a list with numbers 1 to 5 and print it.

In [29]:
print("hello world")

hello world

**Question 7**: Write a code to append the number 10 to the list [1, 2, 3, 4].

In [30]:
print("hello world")

hello world

**Question 8**: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [31]:
print("hello world")

hello world

**Question 9**: Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [32]:
print("hello world")

hello world

**Question 10**: Write a code to reverse the list [10, 20, 30, 40, 50].

In [33]:
print("hello world")

hello world